<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CirculoNegocioEntities" connectionString="metadata=res://*/CirculoNegocios.csdl|res://*/CirculoNegocios.ssdl|res://*/CirculoNegocios.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Tiago-PC\SQLEXPRESS;Initial Catalog=CirculoNegocio;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>